input {
  width: 250px; 
  height: 50px;
  background-color: #fccf5e;
  margin: 10px 0;
  border: 0px solid;
  color: white;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

button { 
  margin: 0 20px; 
  height: 40px;
  width: 40px;
  background-color: #fccf5e;
  border-radius: 50%;
  border: 0px solid;
  color: white;
  font-size: 25px;
  font-weight: 500
}

::placeholder {
  color: white;
  font-size: 18px;
  font-weight: 500;
  padding: auto 10px;
}

span { 
    color: black; 
    font-size: 30px;
    margin: 0 30px; 
}

input[type="text"] {
  padding: 0 20px;
  font-size: 18px;
}

h4 { 
  margin: 0;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-content: space-evenly;
}